<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>

    <style>
        .box {
            background-color: aqua;
            padding: 100px;
            display: inline-block;
            margin: 30px;
        }
    </style>

</head>

<body>
    <h1>Vue3 Learning</h1>









    <div id="app">
        <div v-if="showbook">


            <div v-for="book in books">
                <p>Book Name - {{book.title}}</p>
                <p>Author Name - {{book.author}}</p>
                <p>Author Age - {{book.age}}</p>
                <hr>
            </div>

        </div>

















        <!-- <button v-on:click="IncreaseAge">IncreaseAge</button> -->
        <!-- <button v-on:click="age++">IncreaseAge</button>
        <button v-on:click="author='aungaung'">Change Author Name</button> -->

        <button @click="showbook=!showbook">
            <span v-if="showbook">HideBook</span>
            <span v-if="!showbook">ShowBook</span>
        </button>

        <br>

        <!-- <a v-bind:href="link">Google</a> -->
        <a :href="link">Google</a>//ShortCut Key

        <!-- <br>

       <div class="box" @mouseover="mouseHover($event,data)">Mouse Hover</div>
       <div class="box" @mouseleave="mouseleafH">Mouse leave</div>
       <div class="box" @dblclick="mousedouble">Double Click</div> -->
    </div>

















    <script src="app.js"></script>
</body>

</html>